<div class="container flex-box">
    <div class="text">
        <h2>{{bike.name}}</h2>
        <h3>Descripcion:</h3>
        <p> {{bike.description}}</p>
        <h3>$ {{bike.price}}</h3>
        <a href="https://api.whatsapp.com/send/?phone=573005973563&text&app_absent=0" target="_blank"> <button type="button" class="btn btn_buy btn-success"><img width="30px"
                    src="../../../assets/Img-nav/iconfinder_5340246_chat_communication_message_wa_whatsapp_icon_512px.png"
                    alt=""> Comprar</button>

        </a>
    </div>

    <div class="img img-contenedor">
        <img src="{{bike.fhoto}}" width="530px" alt="">

    </div>
</div>
<hr>

<div class="container">
    <h3>Otros productos</h3>
    <div class="flex_card">

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/AnimalHighlineStem.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Caña Animal Highline</h5>
                <p class="card-text">$140,000</p>
                <a href="http://localhost:4200/accesorio/60baad486c38ae0fd06ac70f" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/s-l1600.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cult Gateway 2021</h5>
                <p class="card-text">$1,300,000</p>
                <a href="http://localhost:4200/bike/60baab026c38ae0fd06ac70e" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/bicicleta-mutanty-rise.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mutanty Rise</h5>
                <p class="card-text">$1,300,000</p>
                <a href="http://localhost:4200/bike/60baa7c16c38ae0fd06ac70c" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/Q01-Tienda-Nucleo-BMX.jpg" class="card-img-top" height="200px" alt="...">
            <div class="card-body">
                <h5 class="card-title">Canitobilleras R2</h5>
                <p class="card-text">$75,000</p>
                <a href="http://localhost:4200/accesorio/60bbc7e6b1a90f26b4080313" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/cassette-cinema.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cassette Cinema VX3</h5>
                <p class="card-text">$600,000</p>
                <a href="http://localhost:4200/accesorio/60bbcc94b1a90f26b4080314" class="btn btn-primary">Ver</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="../../../assets/Img-nav/guantes1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Guantes Mutanty Tie</h5>
                <p class="card-text">$ 55,000</p>
                <a href="http://localhost:4200/accesorio/60bbcdf2b1a90f26b4080316" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
</div>