<!-- <footer class="banner">
    <div class="banner-content">
        <img src=".../../../../../assets/Img-nav/U.png" class="img-logo" alt="">
        <div class="container">
            <div class="info-footer">
                <h2>¿Encontraste lo que buscabas?</h2>
                <p>Somos importadores directos, podemos asesorarte gratis comunícate con nosotros.</p>
            </div>
            <div class="btm-service">
                <button type="button" class="btn btn-warning">Warning</button>
            </div>
        </div>
    </div>
</footer> -->
<footer class="banner">
    <div class="banner-content">
        <div class="container-md">
            <img src=".../../../../../assets/Img-nav/U.png" class="img-logo" alt="">
        </div>
        <div class="container">
            <div class="info-footer">
                <h2>¿Encontraste lo que buscabas?</h2>
                <p>Somos importadores directos, podemos asesorarte gratis comunícate con nosotros.</p>

            </div>

            <div class="btm-footer">
                <button (click)="service()" type="button" class="btn btn-warning">SERVICIO AL CLIENTE</button>
            </div>

        </div>
        <div class="container">
            <div class="objetivo">
                <h3>Objetivo de esta pagina</h3>
                <p>En UrbanSport somos importadores de las mejores marcas del ámbito BMX, entre nuestros productos puede
                    encontrar: accesorios, bicicletas y repuestos</p>
            </div>
            <div class="objetivo_1">
                <h3>¡Suscríbete es gratis!</h3>
                <p>Recibe noticias de eventos, promociones y las últimas tendencias del mundo UrbanSport </p>
                <input class="form-control" type="text" placeholder="Correo!">
                <button type="button" class="btn btn-danger">Suscribirse</button>
            </div>
        </div>
    </div>
</footer>

