<div class="container flex_card">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/AnimalHighlineStem.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Caña Animal Highline</h5>
            <p class="card-text">$ 140,000</p>
            <a routerLink="/accesorio/60baad486c38ae0fd06ac70f" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/casco-pro-tec.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Casco Pro-Tec</h5>
            <p class="card-text">$ 300,000</p>
            <a routerLink="/accesorio/60bbc6feb1a90f26b4080312" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/Q01-Tienda-Nucleo-BMX.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Canitobilleras R2</h5>
            <p class="card-text">$ 75,000</p>
            <a routerLink="/accesorio/60bbc7e6b1a90f26b4080313" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/cassette-cinema.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cassette Cinema VX3</h5>
            <p class="card-text">$ 600,000</p>
            <a href="http://localhost:4200/accesorio/60bbcc94b1a90f26b4080314" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/freecoaster-cinema-FX2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Freecoaster Cinema FX2</h5>
            <p class="card-text">$ 650,000</p>
            <a href="http://localhost:4200/accesorio/60bbcd4db1a90f26b4080315" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/guantes1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Guantes Mutanty Tie</h5>
            <p class="card-text">$ 55,000</p>
            <a href="http://localhost:4200/accesorio/60bbcdf2b1a90f26b4080316" class="btn btn-primary">Ver</a>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example mr-auto ml-auto">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
</div>