<section class="color">
<div class="container flex_card">
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/bici-crysis.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">We The People Crysis</h5>
            <p class="card-text">$2,400,000</p>
            <a routerLink="/bike/60b973b2b2ae551c8470c437" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/bici-justicegris.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">We The People Justice</h5>
            <p class="card-text">$ 2,000,000</p>
            <a routerLink="/bike/60b97adfb2ae551c8470c438" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/s-l500.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cult Acceso 2021</h5>
            <p class="card-text">$ 1,200,000</p>
            <a routerLink="/bike/60baa5686c38ae0fd06ac70b" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/bicicleta-mutanty-rise.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mutanty Rise</h5>
            <p class="card-text">$ 1,300,000</p>
            <a href="http://localhost:4200/bike/60baa7c16c38ae0fd06ac70c" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/Mutanty CUB.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mutanty CUB</h5>
            <p class="card-text">$ 980,000</p>
            <a href="http://localhost:4200/bike/60baa8e26c38ae0fd06ac70d" class="btn btn-primary">Ver</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/Img-nav/s-l1600.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cult Gateway 2021</h5>
            <p class="card-text">$ 1,300,000</p>
            <a href="http://localhost:4200/bike/60baab026c38ae0fd06ac70e" class="btn btn-primary">Ver</a>
        </div>
    </div>
</div>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
</section>