
<header>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
      <img src="../../../assets/Img-nav/U.png" class="img-logo-nav" alt="Logo">
      <a class="navbar-brand" href="#">UrbanSport</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto ml-auto letra text-center">
              <a class="nav-link active" routerLink="/home">Inicio</a>
              <a class="nav-link" routerLink="/bicicletas">Bicicletas</a>
              <a class="nav-link" routerLink="/accesorios">Accesorios</a>
              <a class="nav-link" routerLink="/contact-us">Contactenos</a>
          </div>
      </div>
  </div>

</nav>
</header>